$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;

$background-light: #fff;
$background-grey-light: #fafafa;

$border-grey: #dbdbdb;
$border-dark: #000;

$cerezo: #FD6253;
$cerezo-hover: #eb4b3d;

$turquesa: #38D5E2;
$turquesa-hover: #18929d;

$verde: #94E03B;
$verde-hover: #65ab15;

$amarillo: #F6F697;

$gris: #666666;
$gris-hover: #66666683;


$action: #0095f6;
$danger: #ed4956;